@tailwind base;
@tailwind components;
@tailwind utilities;

.form-input {
  @apply w-full rounded  placeholder-gray-700 shadow placeholder:text-gray-500 focus:ring-2 valid:focus:ring-teal-400 invalid:focus:ring-red-400;
}
.form-error {
  @apply pointer-events-none absolute bottom-2 right-1 text-sm text-red-400;
}
.card-face {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform-origin: center center;
  transform: rotateY(0deg) !important;
  transition: transform 1s ease;
}
.card-back {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform-origin: center center;
  transform: rotateY(180deg) !important;
  transition: transform 1s ease;
}

.remove-scroll-bar {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.remove-scroll-bar::-webkit-scrollbar {
  display: none;
}
body {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}
.asdasdas {
  --s: 105px; /* control the size */
  --c1: #b9b9b9;
  --c2: #dcdcdc;
  --c3: #fafafa;

  background: conic-gradient(
        from 75deg,
        var(--c1) 15deg,
        var(--c2) 0 30deg,
        #0000 0 180deg,
        var(--c2) 0 195deg,
        var(--c1) 0 210deg,
        #0000 0
      )
      calc(0.5 * var(--s)) calc(0.5 * var(--s) / 0.577),
    conic-gradient(
      var(--c1) 30deg,
      var(--c3) 0 75deg,
      var(--c1) 0 90deg,
      var(--c2) 0 105deg,
      var(--c3) 0 150deg,
      var(--c2) 0 180deg,
      var(--c3) 0 210deg,
      var(--c1) 0 256deg,
      var(--c2) 0 270deg,
      var(--c1) 0 286deg,
      var(--c2) 0 331deg,
      var(--c3) 0
    );
  background-size: var(--s) calc(var(--s) / 0.577);
  /* 0.577=tan(30deg)*/
}